@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* */
body {
		font-family: 'Press Start 2P', cursive;
		background-color: #000000;
}

/* */
h1 {
		font-family: 'Press Start 2P', cursive;
}

/* */
p {
		font-family: 'Press Start 2P', cursive;
		color: rgba(255,255,255,.70);
		background: #333;
}

.header {
	font-family: 'Press Start 2P', cursive;
	padding: 80px;
	text-align: center;
	background: #000000;
	color: #7FFF00;
}
.header h1 {
		font-size: 40px;
		font-family: 'Press Start 2P', cursive;
		overflow: hidden;
		position: relative;
}
.header p {
		font-family: 'Press Start 2P', cursive;
		text-align: center;
		background-color: #000000;
		color: #7FFF00;
}

/* */
.navbar {

		overflow: hidden;
		position: sticky;
		position: -webkit-sticky;
		top: 0px;
		height: 20px;
		background-color: #7FFF00;
		color: #7FFF00;
}

#parent {
  height: 40px;
  white-space: nowrap;
  text-align: center;
  margin: 10px auto 10px auto;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  position:	relative;
}

#border {
  border-bottom: solid 3px rgba(0,255,0,.75);
  overflow: hidden;
  position: absolute;
  right: 0px;
  width: 20px;
}

/* Animation */
#parent {
  animation: animated-text 2s steps(33,end) 1s 1 normal both;
}

#border {
   animation: animated-cursor 600ms steps(33,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0px;}
  to{width: 520px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{width: 20px; border-bottom-color: rgba(0,255,0,.75);}
  to{width: 20px; border-bottom-color: transparent;}
}