/* */
body {
	margin: 0
	font-family: 'Press Start 2P', cursive;
	color: #7FF000;
	background-color: #000000;
}
.grid-container {
	display: grid;
	grid-template-areas: 
		'header header header header header'
		'navbar navbar navbar navbar navbar'
		'menu main main main main'
		'footer footer footer footer footer';
	grid-gap: 0px;
	background-color: #000000;
	padding: 10px;
	margin: 0;
}
.grid-container div {
	margin: 0
	text-align: center;
	font-size: 30px;
}

header {

}
.header {
	font-family: 'Press Start 2P', cursive;
	padding: 10px;
	text-align: center;
	background: #000000;
	color: #7FFF00;
}
.header h1 {
	font-size: 40px;
	font-family: 'Press Start 2P', cursive;
	overflow: hidden;
	position: relative;
}

.header p {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	background-color: #000000;
	color: #7FFF00;
}

.header img {
	border: 5px solid #7FF000;
	border-radius: 50%;
}

section {

}
.sidemenu {
	grid-area: menu;
}
.mainmenu {
	grid-area: main;
}
div {

}

nav {

}
.navbar {
	grid-area: navbar;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	text-align: center;
	height: 40px;
	position: sticky;
	position: -webkit-sticky;
	background-color: #333;
}
.navbar a {
	float: all;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color: #f2f2f2;
}
.navbar a:hover {
	background-color: #7FF000;
	color: black;
}
.navbar a.active {
	background-color: #4caf50;
	color: white;
}
.navbar a.active:hover {
	background-color: #7FF000;
	color: black;
	text-shadow: 0px 0px 15px #333;
}

/* */
h1 {
	font-family: 'Press Start 2P', cursive;
}

/* */
p {

	font-family: 'Press Start 2P', cursive;
	color: rgba(255,255,255,.70);
	background: #333;
}

img {
}

.main_page_paragraph {
	margin: 20;
	padding: 100px 100px;
}

.about_me {
	margin: 20;
	padding: 100px 100px;
}

.contact_me {
	margin: 20;
	padding: 20px 20px;
}

#parent {
  height: 40px;
  white-space: nowrap;
  text-align: center;
  margin: 10px auto 10px auto;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  position:	relative;
}

#border {
  border-bottom: solid 3px rgba(0,255,0,.75);
  overflow: hidden;
  position: absolute;
  right: 0px;
  width: 20px;
}

/* Animation */
#parent {
  animation: animated-text 2s steps(33,end) 1s 1 normal both;
}

#border {
   animation: animated-cursor 600ms steps(33,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0px;}
  to{width: 520px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{width: 20px; border-bottom-color: rgba(0,255,0,.75);}
  to{width: 20px; border-bottom-color: transparent;}
}