/* */
body {
		font-family: 'Press Start 2P', cursive;
}

/* */
h1 {
		font-family: 'Press Start 2P', cursive;
}

/* */
p {
		font-family: 'Press Start 2P', cursive;
}

.header {
	font-family: 'Press Start 2P', cursive;
	padding: 80px;
	text-align: center;
	background: #000000;
	color: #7FFF00;
}

/* */
.header h1 {
		font-size: 40px;
		font-family: 'Press Start 2P', cursive;
}

/* */
.navbar {
	overflow: hidden;
	background-color: #333;
	color: #7FFF00;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}