/* Basic Tag CSS */

body {
	/* Defines the document's body */
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	background: #000000;
	color: #7FF000;
}
.grid-container {
	display: grid;
	grid-template-areas: 
		'header header header header header'
		'navbar navbar navbar navbar navbar'
		'menu main main main main'
		'footer footer footer footer footer';
	grid-gap: 0px;
	background-color: #000000;
	padding: 10px;
	margin: 0;
}
.grid-container div {
	margin: 0
	text-align: center;
	font-size: 30px;
}

header {
	/* Defines a header for a document or section */
}
/*TOPHEAD*/
.tophead {
	font-family: 'Press Start 2P', cursive;
	grid-area: header;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.tophead h1 {
	font-size: 40px;
	font-family: 'Press Start 2P', cursive;
	overflow: hidden;
	position: relative;
}
.tophead p {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	background-color: #000000;
	color: #7FFF00;
}
.tophead img {
	grid-area: image;
	border: 5px solid #7FF000;
	border-radius: 50%;
}


section {
	/* Defines a section in a document */
}
.sidemenu {
	grid-area: menu;
}
.mainmenu {
	grid-area: main;
}

div {
	/* Defines a section in a document */
}






/* Navigation Tags */
nav {
	/* 	Defines navigation links */
}
/*TOPNAV*/
.topnav {
	grid-area: navbar;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	text-align: center;
	height: 40px;
	position: sticky;
	position: -webkit-sticky;
	background-color: #333;
}
.topnav a {
	float: all;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color: #f2f2f2;
}
.topnav a:hover {
	background-color: #7FF000;
	color: black;
}
.topnav a.active {
	background-color: #4caf50;
	color: white;
}
.topnav a.active:hover {
	background-color: #7FF000;
	color: black;
	text-shadow: 0px 0px 15px #333;
}

button {
	/* Defines a clickable button */
}


option {
	/* Defines an option in a drop-down list */
}


a {
	/* Defines a hyperlink */
}


u {
	/* Defines some text that is unarticulated and styled differently from normal text */
}


footer {
	/* Defines a footer for a document or section */
}
.bottomfoot {
	grid-area: footer;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}





/* Header Tags */

h1 {
	font-family: 'Press Start 2P', cursive;
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}






/* Article Specific Tags */
article {
	/* Defines an article */
}

blockquote {
	/* Defines a section that is quoted from another source */
}

pre {
	/* Defines preformatted text */
}


q {
	/* Defines a short quotation */
}


p {
	/* Defines a paragraph */
}






/* Tables and List Tags */
table {
	/* Defines a table */
}


tbody {
	/* Groups the body content in a table */
}


tfoot {
	/* Groups the footer content in a table */
}


th {
	/* Defines a header cell in a table s*/
}


tr {
	/* Defines a row in a table */
}

ol {
	/* Defines an ordered list */
}


ul {
	/* 	Defines an unordered list */
}


li {
	/* Defines a list item */
}